---
layout: default
title: Projects
---

<header id="post-header">
    <h1 id="post-title">Projects</h1>
    <h4 id="post-subtitle">All the cool stuff!</h4>
</header>

{% if site.data.projects.size > 0 %}
    <div class="list-group">
        {% for project in site.data.projects %}
            <a href="/project/{{ project.slug }}/" class="list-group-item no-padding">
                <div class="media">
                    <div class="pull-left">
                        <img class="media-object" src="/res/{{ project.slug }}/cover-image.png" alt="{{ project.title }}">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ project.title }}</h4>
                        {% if project.subtitle %}<p class="hidden-xs">{{ project.subtitle }}</p>{% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% else %}
    <p>There are no projects on {{ site.domain }}</p>
{% endif %}
