---
layout: default
---

{% assign project = site.data.projects[page.project] %}
{% capture project_tab %}{{ page.dir | remove:"/project/" | remove:page.project | remove_first:"/" | split:"/" | first }}{% endcapture %}

{% include title_header.html title=project.title subtitle=project.subtitle %}

<div class="m-t-3 text-justify">
  {% if project %}
    <ul class="nav nav-inline text-uppercase m-b-3">
      <li class="nav-item">
        {% if project_tab != "" %}
          <a class="nav-link p-a-1" href="/project/{{ page.project }}/">Overview</a>
        {% else %}
          <a class="nav-link p-a-1 active" href="#">Overview</a>
        {% endif %}
      </li>
      {% if project.has_gallery %}
        <li class="nav-item">
          {% if project_tab == "gallery" %}
            <a class="nav-link p-a-1 active" href="#">Gallery</a>
          {% else %}
            <a class="nav-link p-a-1" href="/project/{{ page.project }}/gallery/">Gallery</a>
          {% endif %}
        </li>
      {% endif %}
      {% if project.has_demo %}
        <li class="nav-item">
          {% if project_tab == "demo" %}
            {% capture project_demo_url %}/project/{{ page.project }}/demo/{% endcapture %}
            {% if page.url != project_demo_url %}
              <a class="nav-link p-a-1" href="/project/{{ page.project }}/demo/">Demo</a>
            {% else %}
              <a class="nav-link p-a-1 active" href="#">Demo</a>
            {% endif %}
          {% else %}
            <a class="nav-link p-a-1" href="/project/{{ page.project }}/demo/">Demo</a>
          {% endif %}
        </li>
      {% endif %}
      {% if project.has_changelog %}
        <li class="nav-item">
          {% if project_tab == "changelog" %}
            <a class="nav-link p-a-1 active" href="#">Changelog</a>
          {% else %}
            <a class="nav-link p-a-1" href="/project/{{ page.project }}/changelog/">Changelog</a>
          {% endif %}
        </li>
      {% endif %}
      {% if project.has_github %}
        <li class="nav-item"><a class="nav-link p-a-1" href="{{ project.github }}">GitHub</a></li>
      {% endif %}
    </ul>
    {% if project_tab == "gallery" %}
      {% if project.gallery %}
        {% for image in project.gallery %}
          {% capture image_url %}/assets/{{ page.project }}/{{ image }}{% endcapture %}
          <img class="img-fluid center-block m-b-2 b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ image_url }}">
        {% endfor %}
        <script>+(function() {new Blazy();})();</script>
      {% else %}
        <p>There is no gallery for this project.</p>
      {% endif %}
    {% else %}
      {{ content }}
    {% endif %}
  {% else %}
    <p>Project not found.</p>
  {% endif %}
</div>
