---
layout: project
tab: gallery
---

{% include assign_project.html %}

{% if project.gallery %}
    <div id="gallery" class="row" data-toggle="gallery">
        {% for image in project.gallery %}
            {% capture image_url %}/res/{{ project.slug }}/{{ image }}{% endcapture %}
            <a href="{{ image_url }}" class="col-xs-6 col-sm-4 col-md-3" data-thumbnail>
                <img src="{{ image_url }}" class="img-responsive img-thumbnail">
            </a>
        {% endfor %}
    </div>
{% else %}
    <p>There is no gallery for this project.</p>
{% endif %}
